#  General files 
*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db
.env

# package-lock wird beim Install erzeugt bzw. geändert
package-lock.json

#  Dependency directories 
node_modules/
vendor/
daemon/

#  Build and dist folders 
dist/
build/
frontend/dist/
frontend/build/
backend/dist/
backend/build/

#  Runtime logs and temp 
logs/
frontend/logs/
backend/logs/

#  System folders 
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

#  OS-specific 
ehthumbs.db
Desktop.ini

#  Optional local files 
*.local.js
*.local.json
*.env.local

#  Others 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.cache/
